<div class="container-fluid">
      <div class="billions"></div>
      <img id="sagan" src="img/sagan.png"/>
      <a class="new" href="#/new">Add New Recipe</a>
      <div class="jumbo">  
        <h1>CookBook App</h1>
        <!-- add ng-model: var to your input to store user input -->
        <input id="search" type="text" ng-model="query" />
        <!-- <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="-planets">Planets Visited</option>
        </select> -->
      </div>
      <div class="container">
        <ul class="recipes">
          <!-- add the attribute ng-repeat
              the value is "resource in set"
              this says make an li for every recipe in the set recipes --> 
          <!-- use pipe filter: query to auto sort your recipes -->
          <li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="cat">
            <a href="#/recipes/{{recipe.id}}">
              Details
            </a>
            <div class="info">
              <a href="#/recipes/{{recipe.id}}">
                <h3>{{recipe.name}}</h3>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>