<div class="jumbo">  
  <h1>Enter Recipe</h1>
</div>
<form method="POST" action="http://localhost:3000/spacecats">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name"/>
  </div>

  <div>
    <label for="description">Description:</label>
    <input type="text" name="description"/>
  </div>

  <div>
    <label for="ingredients">Ingredients:</label>
    <textarea type="text" name="ingredients"/>
  </div>

  <div>
    <label for="prep_instructions">Instructions:</label>
    <textarea type="text" name="prep_instructions"/>
  </div>

  <button type="submit">New Recipe!</button>
</form>