<div class="recipe-container">
  <a href="#recipes/" class="back"><< recipeList</a>
  <!-- <img ng-src="{{mainImg}}.jpg" class="recipe-pic"/>  -->
  
  <div class="info">
    <h1>{{recipe.name}}</h1>
    <p>{{recipe.description}}</p>
    <h2>Ingredients</h2>
    <ul class="ingredients">
      <li ng-repeat="ingredient in recipe.ingredients">
        <img ng-src="{{img}}-thumb.jpg" class="recipe-thumb" ng-click="setImage(img)"/>
      </li>
    </ul>
    <p>{{recipe.prep_intructions}}</p>
  </div>
</div>
