<div class="all-recipes" ng-controller="RecipeListCtrl">
<h1>Listing recipes</h1>

  <label>Name:</label>
  <input id="search" type="text" ng-model="query" />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Prep instructions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="recipes">
    <tr ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="recipe" recipe-snippet>
      <td>{{recipe.name}}</td>
      <td>{{recipe.description}}</td>
      <td>{{recipe.prep_instructions}}</td>
      <td ng-click="showRecipe(recipe.id)"><a href="#">Click for Details</a></td>
      <td class="recipe_details"><recipe-detail class="hidden"></recipe-detail></td>
    </tr>
  </tbody>
</table>

<!-- <div class="hidden"> -->
  
<!-- </div> -->

<br>
</div>
<%= link_to 'New Recipe', new_recipe_path %>
