<div class="all-recipes" ng-controller="RecipeListCtrl">
  <h1>Listing recipes</h1>

  <label>Search:</label>
  <input id="search" type="text" ng-model="query" />
  
  <ul>
    <li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="recipe" recipe-snippet>
    <p>{{recipe.name}}</p>
    <p ng-click="showRecipe(recipe.id)"><a href="#">Click for Details</a></p>
    <p class="recipe_details"><recipe-detail class="hidden"></recipe-detail></p>
  </ul>

<br>
</div>
<%= link_to 'New Recipe', new_recipe_path %>
