<div class="all-recipes row" ng-controller="RecipeListCtrl">
  <div class="recipe-snippet span4">
    <h1>Recipe List</h1>

    <label>Search:</label>
    <input id="search" type="text" ng-model="query" />
    
    <ul>
      <li ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="recipe">
        <p>{{recipe.name}}</p>
        <p ng-click="showRecipe(recipe.id)"><a id="recipe-detail-link">Click to see details to the right</a></p>
        <%= link_to 'Edit', "/recipes/{{recipe.id}}/edit" %>
        <%= link_to 'Delete', "/recipes/{{recipe.id}}",  method: :delete %>
      </li>
    </ul>
  </div>
  <div class="span8">
    <h1>Recipe Details</h1>
    <recipe-detail></recipe-detail>
  </div>
  
<br>
</div>

<%= link_to 'New Recipe', new_recipe_path, :class => "btn btn-large"%>

