<div class="all-recipes" ng-controller="RecipeListCtrl">
<h1>Listing recipes</h1>

  <label>Name:</label>
  <input id="search" type="text" ng-model="query" />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Prep instructions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="recipes">
    <tr ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="recipe">
      <td>{{recipe.name}}</td>
      <td>{{recipe.description}}</td>
      <td>{{recipe.prep_instructions}}</td>
      <td ng-click="showRecipe(recipe.id)">{{recipe.name}}</td>
  </tbody>
</table>

<div class="hidden" recipe-view="" id="recipe">
  <p>
    <strong>Name:</strong>
    {{currentRecipe.name}}
  </p>

  <p>
    <strong>Description:</strong>
    {{currentRecipe.description}}
  </p>

  <p>
    <strong>Prep instructions:</strong>
    {{currentRecipe.prep_instructions}}
  </p>
</div>

<br>
</div>
<%= link_to 'New Recipe', new_recipe_path %>
