<h1>Listing recipes</h1>
<div ng-controller="RecipeListCtrl">
  <label>Name:</label>
  <input id="search" type="text" ng-model="query" />

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Prep instructions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody class="recipes">
    <tr ng-repeat="recipe in recipes | filter:query | orderBy:orderProp" class="recipe">
      <td>{{recipe.name}}</td>
      <td>{{recipe.description}}</td>
      <td>{{recipe.prep_instructions}}</td>
      <td ng-click="showRecipe(recipe.id)">{{recipe.name}}</td>
  </tbody>
</table>

<br>
</div>
<%= link_to 'New Recipe', new_recipe_path %>
