<div class="recipe-details">

  <label for="serving-scale">Enter Scaling amount:</label>
  <input id="serving-scale" ng-model="scale" type="number" min="1" max="10" step="0.5" value="1" /> 

  <p>
    <strong>Name:</strong>
    {{currentRecipe.name}}
  </p>

  <p>
    <strong>Description:</strong>
    {{currentRecipe.description}}
  </p>

  <p>
    <strong>Preparation instructions:</strong>
    {{currentRecipe.prep_instructions}}
  </p>

  <ul class="ingredients">
    <li ng-repeat="ingredient in currentRecipe.ingredients">
      <fraction-view></fraction-view>
      <p>{{ingredient.quantity * (scale || 1) | fraction}} {{ingredient.unit}} of {{ingredient.name}}</p>
    </li>
  </ul>
</div>